@use "base/variables" as v;
@use "base/mixins" as m;

.container {
  width: 95%;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.text {
  line-height: 1.5;
  margin-top: 2rem;
}

.subtitle {
  text-transform: uppercase;
  color: v.$primario;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

.title {
  color: v.$color-titulo;
  font-weight: 500;
  line-height: 1.5;
}

.btn {
  line-height: 1.5;
  background-color: v.$primario;
  border: none;
  color: v.$blanco;
  font-weight: 500;
  padding: 1.5rem 3rem;
  border-radius: 0.6rem;
  @include m.centrar(row, 1rem);
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: darken(v.$primario, 8);
  }
}

@for $i from 1 to 10 {
  .p-#{$i} {
    padding: #{$i}rem 0;
  }
}


