//Tipografía
$tipografia: "Hind Siliguri", sans-serif;

//Colores
$primario: #1769ff;
$color-titulo: #111111;
$color-texto: #777777;
$bg-blanco: #f9f8fe;
$bg-negro: #020202;
$bg-negro-opaco: rgba(0, 0, 0, 0.8);
$negro: #000;
$blanco: #fff;

//Tamaño de pantalla
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;
