@use "base/variables" as v;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  font-family: v.$tipografia;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  color: v.$color-titulo;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

p {
  color: v.$color-texto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}
