@use '../base/mixins' as m;
@use '../base/variables' as v;

.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 2;
    transition: .2s;

    &.sticky {
        background-color: white;
        box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 5%);
    }
}

.header.sticky > .header-container > .header-title {
    color: black;
}

.header.sticky > .header-container {
    padding: 2rem 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0;
    transition: .3s;

    @include m.desktop {
        flex-wrap: nowrap;
    }

}

.header-title {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    transition: .2s;

    span {
        color: v.$primario;
    }
}

.menu-bar {
    background-color: v.$primario;
    height: 3.5rem;
    width: 3.5rem;
    display: grid;
    place-items: center;
    border-radius: .5rem;
    color: white;
    cursor: pointer;

    @include m.desktop {
        display: none;
    }
}

.header-navigation {
    flex: 0 0 100%;
    background-color: white;
    border-radius: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: .3s linear;

    @include m.desktop {
        max-height: 35rem;
        flex-basis: auto;
        background-color: transparent;
    }
}

.header-navigation.show {
    max-height: 35rem;
}

.header-navigation-items {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include m.desktop {
        flex-direction: row;
        padding: 0;
    }
}

.header-navigation-item {
    &:nth-of-type(6) > ion-icon {
        font-size: 2.5rem;
        font-weight: 600;
        --ionicon-stroke-width : 6.4rem ;
        
        @include m.desktop {
            color: white;
            padding: 0 4rem;
        }
    }

    &:nth-of-type(7) > .header-btn {
        background-color: white;
        color: v.$primario;
        transition: .2s;

        &:hover {
            background-color: v.$primario;
            color: white;
        }
    }

    @include m.desktop {
        &.sticky:nth-of-type(6) > ion-icon {
            color: black;
        }
    
        &.sticky:nth-of-type(7) > .header-btn {
            color: white;
            background-color: v.$primario;
        }

        &.sticky > .header-navigation-item-link {
            color: rgba(0, 0, 0, .8);

            &:hover {
                color: black;
            }
        }
    }
}

.header-navigation-item-link {
    color: rgba(0, 0, 0, .8);
    transition: .2s;

    &:hover {
        color: black;
    }

    @include m.desktop {
        color: rgba(255, 255, 255, .9);

        &:hover {
            color: white;
        }
    }
}